*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  perspective: 1000px;
  flex-direction: column;
  transform-style: preserve-3d;
}
.container{
  width: 80%;
  perspective: 800px;
}

.parent{
  position: absolute;
  top: 350px;
  left: 300px;
  transform: translate(-400px, -400px);
  width: 800px;
  height:800px;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(340deg) rotateY(51deg) rotateZ(359deg);
  width: 256px;
  height: 256px;
  transform-style: preserve-3d;
  animation: cube-tube 4s both ease; 
}
.you-tube{
  transition-property: inherit;
  transition: transform 1s ease;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 256px;
  height: 256px;
  transform-style: preserve-3d;
}
.twitter{
  transition-property: inherit;
  transition: transform 1s ease;
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 256px;
  height: 256px;
  transform-style: preserve-3d;
}
.facebook{
  transition-property: inherit;
  transition: transform 1s ease;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 256px;
  height: 256px;
  transform-style: preserve-3d;
}
.style-none{
  list-style-type: none;
}
.box{
  width: 250px;
  height: 250px;
  background-color: rgb(207, 200, 200);
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
}



.front{
  transform: translate3d(0,0,125px);
}
.back{
  transform: translate3d(0,0,-125px) rotateY(180deg);
}
.left{
  transform: translate3d(-125px,0px, 0px) rotateY(-90deg);
}

.right{
  transform: translate3d(125px,0px, 0px) rotateY(90deg);
}
.top{
  background-color: red;
  transform: translate3d(0px,-125px, 0px) rotateX(90deg);
}
.bottom{
 
  transform: translate3d(0px,125px, 0px) rotateX(-90deg);
}
.top-face{
  background-color: #2600ff;
  transform: translate3d(0px,-125px, 0px) rotateX(90deg);
}



.you-text{
  font-size: 28px;
  font-weight: bold;
  color: #554f4f;
  text-align: center;
  align-items: center;
}
.you{
  padding-top: 65px;
  margin-bottom: 7px;
}
.tube{
  width: 100px;
  padding: 5px;
  font-weight: bold;
  border-radius: 20px;
  margin: 0 auto;
  color: #fff;
  background-color: #8d7c7c;
}
.red-text{
  color: #fff;
}
.red-tube{
  background-color: #fff;
  color: red;
}
.bxl-twitter{
  padding-top: 65px;
  display: block;
  color: #554f4f;
  font-size: 120px;
  text-align: center;
  align-items: center; 
}
.bxl-facebook{
  padding-top: 65px;
  display: block;
  color: #554f4f;
  font-size: 120px;
  text-align: center;
  align-items: center;
}
.top-face-icon{
  color: #fff;
}

.item-youtube:hover{
  transform: translate(-50%, -50%) rotateX(90deg) rotateY(180deg) rotateZ(180deg);
}
.item-facebook:hover{
  transform: translate(-50%, -50%) rotateX(90deg) rotateY(180deg) rotateZ(180deg);
}
.item-twitter:hover{
  transform: translate(-50%, -50%) rotateX(90deg) rotateY(180deg) rotateZ(180deg);
}
.cube-list{
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
}